.iconleft{
  position: absolute;
  top: 20px;
  left: 20px;
  
}

.iconright{
  position: absolute;
  bottom: 20px;
  right: 20px;

}

.season-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.winter{
  background-color: aliceblue;

}

.summer{
  background-color: orange;
}

.season-display.winter i{
  color: blue;
}

.season-display.summer i{
  color: red;
}

.border-red{
  border: 10px solid black;
}